.inputpanel{
    height: 25%;
    width: 20%;
    position: fixed;
    z-index: auto;
    bottom: 0;
    left: 0;
    background-color: lightblue;  
}
.inputgrid{
    background: lightslategray;
}

.displayline{
    height: 25%;
    width: 80%;
    position: fixed;
    z-index: auto;
    bottom: 0;
    right: 0;
    background-color: antiquewhite;
}

.announce{
    position: bottom;
    bottom: 0px;
}

.plan{
    height: 75%;
    width: 80%;
    position: fixed;
    z-index: auto;
    top: 0;
    right: 0;
    overflow: hidden;
    background-color: burlywood;
}

.reserved{
    height: 75%;
    width: 20%;
    position: fixed;
    z-index: auto;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: antiquewhite;
}

.reservedslot{
    height: 10%;
    width: 80%;
    left: 10%;
    top: 2%;
    border-style:solid;
    border-color:rgb(46, 46, 46);
    background-color: rgb(234, 234, 234);
    position: relative;
}